pid {nginx_pid_filename};

events {}

http {
    upstream gunicorn {
        server 127.0.0.1:{gunicorn};
    }
     
    server {
        listen *:8080;
        location / {
            proxy_pass  http://gunicorn;
        }
    }

}
