pid {nginx_pid_filename};

events {}

http {
    upstream twisted {
        server 127.0.0.1:{twisted};
    }
     
    server {
        listen *:8080;
        location / {
            proxy_pass  http://twisted;
        }
    }

}
